body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
  }
  
  .grid-container {
    display: grid;
    flex-direction: row;
    height: 100%;
    width: 100%;
  
    justify-items: center;
    align-items: start;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .main {
    position: relative;
    padding: 20px;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  body {
      font-family: 'Arial', sans-serif;
      color: #333;
      background-color: #f4f4f4;
  }
  
  footer {
      background-color: #343a40;
      color: #fff;
      padding: 20px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;
    }
    
    footer p {
      margin-bottom: 0;
    }
    
    footer a {
      text-decoration: none;
      transition: opacity 0.3s ease-in-out;
    }
    
    footer a[href*='#'] {
      color: white;
    }
    
    footer a[href*='mailto'] {
      color: orangered;
    }
    
    footer a[href*='tel'] {
      color: limegreen;
    }
    
    footer a[href]:hover {
      opacity: 0.8;
    }
  
  #task {
    margin: 0px;
    padding: 0px;
  }